* {
  margin: 0;
  padding: 0;
 
}
body{
  margin: 0;
  font-family: "Work Sans", sans-serif;

}
main{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 3px;
}

section{
  border: 1px solid black;
  position: relative;
}



.beer-name-storage{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.w3-progress-container {
  width:90%;
  height:0.7em;
  position:relative;
  background-color:#deeef5;
  margin-bottom: 30px;

  transition: opacity 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s ;
  transition: all ease 0.5s ;
}

.kegs-icon-container{
  padding: 5px;
}

.w3-progress-container:hover {
  opacity: 0.5;
}

.w3-progressbar {
  background: linear-gradient(to bottom, rgb(50, 131, 172) 0%, rgb(53, 104, 85) 100%);
  height:100%;
  position:absolute;
  line-height:inherit;
}

.beer-type-pic{
  width: 30px;
}

.single-keg{
  border: 1px solid black;
  margin-bottom: 5px;
}

.individual-order{
  border: 1px solid black;
}

.individual-order {
  padding: 2vh 2vw 2vh 2vw;
  margin: 1vh 0vw 1vh 0vw;
  box-shadow: 0px 0px 18px #888888;
  background-color: hsla(18, 100%, 34%, 0.726);
  height: 165px;
  width: 130px;
  border-radius: 5px;
}

#orders-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  overflow: auto;
  z-index: 1;
  position: relative;
  min-width: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dropdown-content a {
  color: black;
  padding: 8px 5px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show { display: block; }

.login-button{
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  height: 100%;
}

.login-section{
  border: none;
}

.welcome-tag{
  text-align: center;
  padding: 5px;
  font-size: 35px;
}

.order-time{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.order-item{
  padding-top: 5px;
  text-align: center;
}

#storage-room-section{
  border: none;
}

.beer-storage{
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.low-amount-warning{
  color: red;
  font-size: 15px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bar-name{
  text-align: center;
  padding: 5px;
  font-size: 35px;
}