* {
  margin: 0;
  padding: 0;
 text-transform: uppercase;
}
body{
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background: linear-gradient(to bottom, rgb(109, 109, 109) 0rgb(255, 255, 255) 100%);
}
main{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 8px;
  grid-template-rows: 50px 700px 50px;

}

section{
  position: relative;
}

#bartender-time-section{
  border: none;
}


.beer-name-storage{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.w3-progress-container {
  width:90%;
  height:0.7em;
  position:relative;
  background-color:#afc7ca;
  margin-bottom: 30px;

  transition: opacity 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s ;
  transition: all ease 0.5s ;
}

.people-queue{
  text-align: center;
  height: 100%;
  padding: 10px;
}

#queue-number{
  color: rgb(71, 0, 0);
}



.kegs-icon-container{
  padding: 5px;
  text-align: center;
}

.w3-progress-container:hover {
  opacity: 0.5;
}

.w3-progressbar {
  background: linear-gradient(to bottom, rgb(50, 131, 172) 0%, rgb(53, 104, 85) 100%);
  height:100%;
  position:absolute;
  line-height:inherit;
}

.beer-type-pic{
  width: 100%;
  height: 100%;
}

.single-keg{
  margin-bottom: 5px;
  border: 1px solid black;
  position: relative;
}
.level-container{
  padding-left: 75px;
}

#level-tag{
  padding: 10px;
  padding-left: 0;
  text-transform: none;
}

.level-number{
  padding: 3px;
  text-transform: none;
  font-size: 13px;
  text-align: right;
  margin-right: 10px;
}

.real-time{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: indianred;
  padding: 10px;
}
.keg-pic-container{
  height: 100%;
  width: 70px;
  position: absolute;
}

.individual-order {
  padding: 2vh 2vw 2vh 2vw;
  margin: 1vh 0vw 1vh 0vw;
  box-shadow: 0px 0px 18px #888888;
  background-color: hsla(18, 100%, 34%, 0.726);
  height: fit-content;
  width: 130px;
  background: rgb(245, 244, 244);
}

#orders-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: none;
  overflow-y: scroll;
  background: linear-gradient(to bottom, rgb(95, 95, 95) 0%, rgb(235, 235, 235) 100%);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  overflow: auto;
  z-index: 1;
  position: relative;
  min-width: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dropdown-content a {
  color: black;
  padding: 8px 5px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show { display: block; }

.login-button{
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  height: 100%;
  background: indianred;
}

.login-section{
  border: none;
}

.welcome-tag{
  text-align: center;
  padding: 5px;
  font-size: 35px;
}

#welcome-section{
  border: none;
}

.order-time{
  text-align: center;
  padding-bottom: 15px;
}

.order-item{
  padding-top: 5px;
  padding: .1em;
  text-align: center;
  list-style-type: disc;
  list-style-position: inside;
  text-transform: none;
}

#storage-room-section{
  border: none;
  overflow-y: scroll;
}
#real-time-section{
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(236, 236, 236) 100%);
  border: none;
}

.beer-storage{
  margin-bottom: 10px;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(236, 236, 236) 100%);
}

#kegs-section{
  border: none;
  overflow-y: scroll;
}

.low-amount-warning{
  color: rgb(201, 0, 0);
  font-size: 10px;
  font-weight: bold;
  padding-bottom: 10px;
}

.bar-name{
  text-align: center;
  padding: 5px;
  font-size: 35px;
}